/* Main Body */
body{
    margin: 250px auto;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Main Container Element */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 450px;
    max-width: 90%;
    color: black;
    padding: 25px 50px;
    border-radius: 12px;
    border: 6px solid black;
}

/* Header */
.main-header{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid #4a90e2;
}

#month-display{
    margin-bottom: 8px;
    font-size: 1.75rem;
    color: #333;
    font-weight: 525;
}

/* Select Label and Option*/
.select-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#month{
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    margin: 1px;
}

/* Days Content */
.days-display{
    width: 600px;
    max-width: 100%;
}

.container-text{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    padding: 20px;
    margin-top: -1px; 
}

.day-text{
    background-color:#4a2db6;;
    width: 50px;
    height: 50px;
    max-width: 80px;
    padding: 12px;
    text-align: left;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}


/* ToDo List Modal */
.todo-container{
    width: 400px;
    border: 3px solid #4CAF50;
    border-radius: 16px;
    padding: 20px;
    background: #f9fff9;
    box-shadow: 0px 0px 10px;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #444;
}

#taskinput{
    padding: 6px;
    margin-right: 4px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
}
#taskinput:focus {
    box-shadow: 0 0 10px rgba(76,175,80,0.5);
}

.add-btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
    margin-left: 7px;
}

.add-btn:hover{
    background: #45a049;
    font-weight: bolder;
}

.to-do-list-display{
    width: 320px;
    border: 5px solid green;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal;
    gap: 4px;
    list-style: none;
    flex-wrap: wrap;
}

.todo-item{
   display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background: #f9fff9;
    padding: 6px 10px;
    border-radius: 6px;
}

.exit-btn{
    background-color: red;
    color: white;
    margin-left: 8px;
    padding: 8px;
    border-radius: 7px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    width: 80px;
}

.exit-btn:hover{
    background-color: rgb(red, green, blue);
    font-weight: bolder;
}


/* Task List Elements */

.btn-edit{
    padding: 6px;
    margin-left: 4px;
    background-color: yellow;
    border-radius: 4px;
    border: none;
    width: 50px;
    color: black;
    cursor: pointer;
}

.btn-remove{
    padding: 4px;
    margin-left: 4px;
    background-color: red;
    border: none;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    color: white;

}